.featured-section{
    padding-left: 30px;
    padding-right: 30px;
     padding-bottom: 30px;
    background-color: var(--primary-color);
}
/* HTML: <div class="loader"></div> */
// .loader {
//    width: 120px;
//    height: 120px;
//     aspect-ratio: 1;
//     border-radius: 50%;
//     background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
//     animation: l22 2s infinite linear;
//   }
.loader {
   border: 16px solid #f3f3f3; /* Light grey */
   border-top: 16px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 120px;
   height: 120px;
   background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
   animation: l22 2s infinite linear;
   margin: 0 auto;
 }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     margin: 15%;
     border-radius: 50%;
     background: inherit;
     animation: inherit;
  }
  .loader::after {
     margin: 25%;
     animation-duration: 3s;
  }
  @keyframes l22 {
    100% {transform: rotate(1turn)}
  }